---
title: 8000038 перевірка рахунку дитина GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919965"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="6cb27-102">Дата народження, які відображаються в обліковому записі Microsoft є неправильною</span><span class="sxs-lookup"><span data-stu-id="6cb27-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="6cb27-p101">Дуже серйозно ставиться безпеки облікового запису Microsoft. Ви може мати нещодавно було ввести згоди батьків для облікового запису Microsoft дитини. Якщо вам потрібна допомога надання згоди батьків або оновлення дати народження на обліковий запис Microsoft, побачити [перевірки віку для батьківської згоди](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="6cb27-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="6cb27-106">Докладніше про [згоди батьків і дитини облікових записів Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="6cb27-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

