---
title: Перевірка EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814393"
---
# <a name="edu-verification"></a><span data-ttu-id="3f177-102">Перевірка EDU</span><span class="sxs-lookup"><span data-stu-id="3f177-102">EDU verification</span></span>

<span data-ttu-id="3f177-103">Здебільшого запити на відповідність навчальним закладам обробляються протягом 24–48 годин.</span><span class="sxs-lookup"><span data-stu-id="3f177-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="3f177-104">Для деяких запитів може знадобитися ретельніший огляд і обробка може тривати до 10 робочих днів.</span><span class="sxs-lookup"><span data-stu-id="3f177-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="3f177-105">Після завершення ми надішлемо повідомлення електронної пошти зі статусом вашого навчального закладу.</span><span class="sxs-lookup"><span data-stu-id="3f177-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="3f177-106">**Увага!** Якщо ви вийдете з майстра перевірки, [](https://go.microsoft.com/fwlink/p/?linkid=2135255) перш ніж вводити домен, під час безкоштовного ознайомлення майстер перевірки можна відновити в будь-який час.</span><span class="sxs-lookup"><span data-stu-id="3f177-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="3f177-107">Щоб перевірити стан свого домену, перейдіть у [Центр адміністрування Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="3f177-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="3f177-108">На домашній сторінці прокрутіть униз і знайдіть картку **"Виставлення рахунків".**</span><span class="sxs-lookup"><span data-stu-id="3f177-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="3f177-109">Картка **"Виставлення** рахунків" указує стан перевірки (затверджено, відкладено, відхилено або додати домен).</span><span class="sxs-lookup"><span data-stu-id="3f177-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="3f177-110">Якщо ваш запит відхилено, див. дія Моя школа не має [права на отримання запиту. Що робити зараз?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="3f177-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>