---
title: EDU верифікацію
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205288"
---
# <a name="edu-verification"></a><span data-ttu-id="d00e3-102">EDU верифікацію</span><span class="sxs-lookup"><span data-stu-id="d00e3-102">EDU verification</span></span>

<span data-ttu-id="d00e3-103">У більшості випадків академічні запити на право обробляються протягом 24-48 годин.</span><span class="sxs-lookup"><span data-stu-id="d00e3-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="d00e3-104">Для обробки деяких запитів може знадобитися більш ретельний аналіз і може тривати до 10 робочих днів.</span><span class="sxs-lookup"><span data-stu-id="d00e3-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="d00e3-105">Після завершення ми надішлемо електронний лист із статусом вашої школи.</span><span class="sxs-lookup"><span data-stu-id="d00e3-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="d00e3-106">**Важливе значення** Якщо ви виходили з майстра перевірки перед входом до домену, [майстер академічних перевірок можна відновити](https://go.microsoft.com/fwlink/p/?linkid=2135255) в будь-який час під час безкоштовної пробної версії.</span><span class="sxs-lookup"><span data-stu-id="d00e3-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="d00e3-107">Якщо ви бажаєте перевірити стан свого домену, перейдіть до [центру адміністрування Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="d00e3-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="d00e3-108">На головній сторінці прокрутіть униз і знайдіть **платіжну** картку.</span><span class="sxs-lookup"><span data-stu-id="d00e3-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="d00e3-109">**Платіжна** картка вказує статус процесу верифікації (схвалено, очікує на розгляд, відхилення або додавання домену).</span><span class="sxs-lookup"><span data-stu-id="d00e3-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="d00e3-110">Якщо ваш запит заборонений, перегляньте [мою школу не має права. Що робити зараз?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="d00e3-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>