---
title: Перевірка EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946802"
---
# <a name="edu-verification"></a>Перевірка EDU

Здебільшого запити на відповідність навчальним закладам обробляються протягом 24–48 годин. Для деяких запитів може знадобитися ретельніший огляд і обробка може тривати до 10 робочих днів. Після завершення ми надішлемо повідомлення електронної пошти зі статусом вашого навчального закладу.

**Увага!** Якщо ви вийдете з майстра перевірки, [](https://go.microsoft.com/fwlink/p/?linkid=2135255) перш ніж вводити домен, під час безкоштовного ознайомлення майстер перевірки можна відновити в будь-який час.

Щоб перевірити стан свого домену, перейдіть на веб-Центр адміністрування Microsoft 365 [.](https://go.microsoft.com/fwlink/p/?linkid=2024339) На домашній сторінці прокрутіть униз і знайдіть картку **"Виставлення рахунків".** Картка **"Виставлення** рахунків" указує стан перевірки (затверджено, відкладено, відхилено або додати домен).

Якщо ваш запит відхилено, див. дія Моя школа не має [права на отримання запиту. Що робити зараз?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)