---
title: EDU верифікацію
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205288"
---
# <a name="edu-verification"></a>EDU верифікацію

У більшості випадків академічні запити на право обробляються протягом 24-48 годин. Для обробки деяких запитів може знадобитися більш ретельний аналіз і може тривати до 10 робочих днів. Після завершення ми надішлемо електронний лист із статусом вашої школи.

**Важливе значення** Якщо ви виходили з майстра перевірки перед входом до домену, [майстер академічних перевірок можна відновити](https://go.microsoft.com/fwlink/p/?linkid=2135255) в будь-який час під час безкоштовної пробної версії.

Якщо ви бажаєте перевірити стан свого домену, перейдіть до [центру адміністрування Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). На головній сторінці прокрутіть униз і знайдіть **платіжну** картку. **Платіжна** картка вказує статус процесу верифікації (схвалено, очікує на розгляд, відхилення або додавання домену).

Якщо ваш запит заборонений, перегляньте [мою школу не має права. Що робити зараз?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)