---
title: 8000038 перевірка рахунку дитина GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775857"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Дата народження, які відображаються в обліковому записі Microsoft є неправильною

Дуже серйозно ставиться безпеки облікового запису Microsoft. Ви може мати нещодавно було ввести згоди батьків для облікового запису Microsoft дитини. Якщо вам потрібна допомога надання згоди батьків або оновлення дати народження на обліковий запис Microsoft, побачити [перевірки віку для батьківської згоди](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Докладніше про [згоди батьків і дитини облікових записів Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

