---
title: Виправлення неполадок під час перевірки Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885376"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="0bd7c-102">Проблеми, пов'язані з перевіркою Publisher для розробників</span><span class="sxs-lookup"><span data-stu-id="0bd7c-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="0bd7c-103">**Рекомендовані дії**</span><span class="sxs-lookup"><span data-stu-id="0bd7c-103">**Recommended steps**</span></span> 

<span data-ttu-id="0bd7c-104">Щоб вирішити проблеми, пов'язані з перевіркою Publisher, виконайте наведені нижче дії.</span><span class="sxs-lookup"><span data-stu-id="0bd7c-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="0bd7c-105">Перегляньте передумови та інші вимоги, щоб переконатися, що всі вони виконані.</span><span class="sxs-lookup"><span data-stu-id="0bd7c-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="0bd7c-106">Перегляньте інструкції, щоб [відмітити програму, як у програмі Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , і забезпечити успішне виконання всіх кроків.</span><span class="sxs-lookup"><span data-stu-id="0bd7c-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="0bd7c-107">Перегляньте список [поширених проблем](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) і дотримуйтеся рекомендованих інструкцій, якщо у вас виникла проблема з таким списком.</span><span class="sxs-lookup"><span data-stu-id="0bd7c-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="0bd7c-108">Відтворіть запит за допомогою [провідника графа](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , щоб зібрати додаткову інформацію та виключити будь-які проблеми в інтерфейсі користувача.</span><span class="sxs-lookup"><span data-stu-id="0bd7c-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="0bd7c-109">**Рекомендовані документи**</span><span class="sxs-lookup"><span data-stu-id="0bd7c-109">**Recommended documents**</span></span>

- [<span data-ttu-id="0bd7c-110">Перевірка Publisher – огляд</span><span class="sxs-lookup"><span data-stu-id="0bd7c-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="0bd7c-111">Позначання програми у програмі Publisher</span><span class="sxs-lookup"><span data-stu-id="0bd7c-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="0bd7c-112">Виправлення неполадок під час перевірки Publisher</span><span class="sxs-lookup"><span data-stu-id="0bd7c-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

