---
title: Виправлення неполадок під час перевірки Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: uk-UA
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885376"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Проблеми, пов'язані з перевіркою Publisher для розробників

**Рекомендовані дії** 

Щоб вирішити проблеми, пов'язані з перевіркою Publisher, виконайте наведені нижче дії.

1. Перегляньте передумови та інші вимоги, щоб переконатися, що всі вони виконані.
2. Перегляньте інструкції, щоб [відмітити програму, як у програмі Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , і забезпечити успішне виконання всіх кроків.
3. Перегляньте список [поширених проблем](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) і дотримуйтеся рекомендованих інструкцій, якщо у вас виникла проблема з таким списком.
4. Відтворіть запит за допомогою [провідника графа](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) , щоб зібрати додаткову інформацію та виключити будь-які проблеми в інтерфейсі користувача.

**Рекомендовані документи**

- [Перевірка Publisher – огляд](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Позначання програми у програмі Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Виправлення неполадок під час перевірки Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

